<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FizzBuzz" type="ConsoleApplication12.UrlsSection, ConsoleApplication12" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <FizzBuzz name="asdf">
    <urls>
      <add name="foo" url="http://foo:9090"></add>
      <add name="bar" url="http://bar:9090"></add>
      <add name="baz" url="http://baz:9090"></add>
    </urls>
  </FizzBuzz>
</configuration>